* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(212, 212, 212);
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    height: 70px;
    width: 100%;
    background: whitesmoke;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 20px;
}

ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.logo {
    padding-right: 60px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 28px;
    color: rgb(255, 72, 0);
}

header button {
    text-transform: capitalize;
    position: absolute;
    right: 80px;
    padding: 8px 20px;
    background: black;
    color: whitesmoke;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 550;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
}

form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: capitalize;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-weight: 700;
    color: black;
    font-size: 14px;
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    border: none;
    font-size: 14px;
    font-family: inherit;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-form {
    padding: 8px 30px;
    border-radius: 25px;
    background: black;
    color: whitesmoke;
    position: absolute;
    right: 25px;
    font-weight: 600;
}

.btn-2 {
    margin-top: 20px;
}